/* style resetting for each rule */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* color variable declaration */

:root {
    --primary: #fff;
    --secondary: #FF0000;
    --thirdly: #000;
}

/* header styles */

.header {
    background-image: url('../resources/images/Banner-image.png');
    background-repeat: no-repeat;
    background-size: contain;
    filter: brightness(60%);
    width: 1300px;
    height: 600px;
    margin: 50px auto 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-content .text-on-banner .new-year-text1 {
    color: var(--primary);
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 32px;
    padding: 30px;
}

.header-content .text-on-banner .new-year-text2 {
    color: var(--primary);
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

.header-content .text-on-banner .new-year-text3 {
    color: var(--primary);
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

/* main section styling */

.main {
    display: flex;
    justify-content: center;
}

.main .discount-show {
    text-align: center;
}

.main .discount-show .discount-related-text1 {
    font-family: 'Inter', sans-serif;
    color: var(--secondary);
    font-size: 88px;
    margin-bottom: 30px;
}

.main .discount-show .discount-related-text2 {
    font-family: 'Inter', sans-serif;
    color: var(--secondary);
    font-weight: 500;
    font-size: 24px;
}

.main .discount-show .discount-related-text3 {
    font-family: 'Inter', sans-serif;
    color: var(--thirdly);
    font-size: 48px;
    margin-bottom: 30px;
}

.main .discount-show img {
    width: 500px;
    height: 400px;
}

/* footer section styling */