/* style resetting for each rule */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* color variable declaration */

:root {
    --primary: #fff;
    --secondary: #FF0000;
    --thirdly: #000;
}

/* header styles */

.header {
    background-image: url('../resources/images/Banner-image.png');
    background-repeat: no-repeat;
    background-size: contain;
    filter: brightness(60%);
    width: 1300px;
    height: 600px;
    margin: 50px auto 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-content .text-on-banner .new-year-text1 {
    color: var(--primary);
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 32px;
    padding: 30px;
}

.header-content .text-on-banner .new-year-text2 {
    color: var(--primary);
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

.header-content .text-on-banner .new-year-text3 {
    color: var(--primary);
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

/* main section styling */

/* .main {
    display: flex;
    justify-content: center
} */

/* discount section */

.main .discount-show {
    text-align: center;
    margin-bottom: 50px;
}

.main .discount-show .discount-related-text1 {
    font-family: 'Inter', sans-serif;
    color: var(--secondary);
    font-size: 88px;
    margin-bottom: 30px;
}

.main .discount-show .discount-related-text2 {
    font-family: 'Inter', sans-serif;
    color: var(--secondary);
    font-weight: 500;
    font-size: 24px;
}

.main .discount-show .discount-related-text3 {
    font-family: 'Inter', sans-serif;
    color: var(--thirdly);
    font-size: 48px;
    margin-bottom: 30px;
}

.main .discount-show img {
    width: 500px;
    height: 400px;
}

/* party invitation and party images section */

.main .party-invitation .party-images {
    background-color: aquamarine;
    width: 1300px;
    height: 600px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.main .party-invitation .party {
    margin: 0 auto;
    display: block;
    filter: brightness(50%);
    width: 1300px;
    height: 600px;
}

.main .party-invitation .twentytwentyfour {
    margin: 0 auto;
    margin-bottom: -500px;
    display: block;
    position: relative;
    top: -500px;
    left: 400px;
}

.main .party-invitation .party-invitation-text-btn {
    position: relative;
    top: -500px;
    left: 200px;
}

.main .party-invitation .party-related-text1,
.party-related-text2 {
    color: var(--primary);
    font-family: 'Merriweather';
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7px;
}

.main .party-invitation .party-related-text3 {
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 20px 0;
}

.join-now-btn {
    background-color: transparent;
    color: var(--primary);
    border: none;
    cursor: pointer;
    padding: 5px;
    font-family: "Inter";
    font-size: 20px;
    font-weight: 700;
}

/* party time notice */

.main .party-invitation .party-time {
    margin: 0 auto;
    width: 1300px;
    height: 480px;
    margin-bottom: 100px;
}

.party-time article {
    text-align: center;
    margin-top: -400px;
}

.party-time article section {
    color: var(--thirdly);
    font-family: 'Inter';
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}

.party-time article section span {
    color: var(--secondary);
    text-align: center;
    font-family: 'Inter';
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}

.party-time article .join-now-button1 {
    color: var(--primary);
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 700;
    padding: 16px 32px;
    margin-top: 30px;
    border-radius: 8px;
    background-color: var(--secondary);
    cursor: pointer;
    border: none;
}

/* footer section styling */